<div class="col-md-4">
<div class="thumbnail">
    <img src="https://image.shutterstock.com/image-vector/s-logo-ss-sss-design-260nw-778807822.jpg" alt="" class="src">
        </div>
        <div class="caption">
            <p>Best Item</p>
            <p>Best search data</p>
            <p>
                <strong>price</strong>55$
            </p>
                <button class="btn btn-info">Add to cart</button>
                <button class="btn alert-info">View Details</button>
    

</div>
</div>